<div
  class="search-input-wrapper"
  [class.desktop-search]="!isMobile()"
  [class.mobile-search]="isMobile()"
  [class.active]="isMobile() && isActive()"
>
  <i class="bx bx-search search-icon"></i>
  <input
    type="text"
    class="input"
    placeholder="Busca por título, autor, lugar o fecha"
    [(ngModel)]="searchQuery"
    (input)="onQueryChange()"
    (keyup.enter)="onSearch()"
    #searchInput
    aria-label="Buscar testimonios por título, autor, lugar o fecha"
  />
  @if (searchQuery) {
  <button mat-icon-button (click)="clearSearch()" matTooltip="Limpiar búsqueda" golden>
    <i class="bx bx-x"></i>
  </button>
  }
  @if (isMobile() && isActive()) {
  <button mat-icon-button class="close-search" (click)="toggleMobileSearch()" matTooltip="Cerrar búsqueda" golden>
    <i class="bx bx-x"></i>
  </button>
  }
</div>
